nav {
    background-color: blanchedalmond;
}
nav {
    display: 'flex';
    justify-content: 'space-between';
    align-items: 'center';
    padding: '10px 20px';
    background-color: '#333';
    color: '#fff';
  }
  logoContainer {
    display: flex;
    align-items:center;
  }
  navLinks {
    
    display: flex;
    gap: 20px;
  }
  navLinkItem {
    text-decoration: none;
    color: #fff;
  }
